.commentreply {
  text-align: -webkit-match-parent;
  font-size: 12px;
  color: #777877;
  line-height: 1.5;
}

.commentreplyarea {
  display: none;
  padding-right: 15px;
  margin-top: 15px;
}

.textcommentreply {
  height: 45px;
  width: 100%;
}

a.aui-button.replycommentcancel {
  margin-left: 10px;
}

.hiddenthrobber {
  display: none;
}

div.movedcomment {
  border-bottom: 0px;
}

.currentvotes {
  float: right;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 11px;
}

.likes {
  color: green;
}

.dislikes {
  color: red;
}
